/* This is the style sheet for the webpage to make it look better*/

span.visited-text{
  display: inline-block;
  width: 70%;
}

form.visited-form{
  display: inline;
}

div.wishlist-place{
  margin: 20px
}

label {
  display: inline-block;
  padding-right: 8px;
}
